nav{
    background-color: #fff;
    height: 50px;
    width: 100%;
    top: 0;
    margin-bottom: 10px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 30px 10px 10px 10px;
    &:hover{
        border-bottom: 1px solid #000;
    }
}